TABLE.draggable > TBODY > TR > TD:first-child
, TABLE.draggable > TBODY > TR > TD.first  {
	background-image:url(grippy.png);
	background-position: 0.5rem;
	background-repeat: no-repeat;
	width: 0.1rem;
	/*padding : 0 0 0 10px;*/
}