<!--BeginSectBrandNoPanel-->
<img  class="{logo_class}" src="{logo_url}" alt="{host_name}" />
{domain_switch}
<!--EndSectBrandNoPanel-->
<!--BeginSectBrandPanel-->
<span class="panel-container">
<!--BeginSectBrandName-->
<a class="{nav_left_class}" href="#panel-brand" {toggle_properties}>
	<!--BeginSectLogo-->
	<img  class="{logo_class}" src="{logo_url}" alt="{logo_name}" />
	<!--EndSectLogo-->		
	{host_name}{more_icon}
</a>
{admin}
<!--EndSectBrandName-->
<!--BeginSectBrandInfo-->
    <!--<span class="{host_class}"><a id="Brand-title" href="http://{host_name}" target="_blank">{host_name}</a>{host_icon}</span>-->
    <div id="panel-brand" class="{panel_class}">
            <div class="{panel_header_class}">
                    <!--BeginSectMultiDomain-->
                    {domain_switch}
                    <!--EndSectMultiDomain-->
                    <!--BeginSectElementHeader--><{item_tag} {item_properties}>{item_icon}{label}</{item_tag}><!--EndSectElementHeader-->
            </div>
            <div class="{panel_body_class}">
                    <!--BeginSectElementBody--><{item_tag} {item_properties}>{item_icon}{label}</{item_tag}><!--EndSectElementBody-->
                    <div class="{panel_links_class}">
                    <!--BeginSectElement--><{item_tag} {item_properties}>{item_icon}{label}</{item_tag}><!--EndSectElement-->
                    </div>
            </div>
            <div class="{panel_footer_class}">
                <!--BeginSectElementFooter--><{item_tag} {item_properties}>{item_icon}{label}</{item_tag}><!--EndSectElementFooter-->
            </div>
    </div>

<!--EndSectBrandInfo-->
</span>
<!--EndSectBrandPanel-->