<div class="wrapper">
    <nav id="mainmenu" class="sidemenu -inverse -scrollable">
        <div class="sidemenu__head">
            <div class="text-center"> {brand} </div>
            {account}
            {search}
        </div>
            {sidebar} </nav>
    <section id="content">
        <header class="header {fullbar_class}">
            <div class="row header__bar">
                <div class="col-sm-6">{favorite} {tab-header}</div>
                <div class="col-sm-6">{breadcrumb} {multidomain}</div>
            </div>
        </header>
        <section class="pagecontent"> {content} </section>
        <!--BeginSectFooter-->
        <footer class="row footer">
            <div class="footer__copy">
                <p>{_developer_label} <a href="{_developer_url}" target="_blank">{_developer_name}</a></p>
            </div>
        </footer>
        <!--EndSectFooter-->
    </section>
    <div class="overlay"><div>
    </div></div></div>