/* Tag Reset */

body, img, p, h1, h2, h3, h4, h5, h6, ul, li, table, tr, th, td, fieldset, label, input, select, textarea{
	margin:0;
	padding:0;
}

ul{
	list-style:none;
}

ul.attivita{
	list-style:square;
	padding:9px 0 9px 18px;
}

img{
	border:none;
}

hr{
	clear:both;
	border:none;
}

.GridSortIcons{
	padding-top:5px;
}

tr td.GridActions img{
	display:none;
}

tr:hover td.GridActions img{
	display:block;
}

/* Ridefinizione tags */

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#444;
	background:#fff;
	line-height:18px;
}

/* Tipografia */

h1,h2,h3{
	letter-spacing: -1px;
	font-weight:normal;
	font-size:18px;
	line-height:33px;
	color:#111111;
	line-height:36px;
}

h1{
	font-size:18px;
	border-bottom:none;
}

h1.dialog{
	margin-top:18px;
}

h1 span{
	display:block;
	font-size:12px;
	color:#111111;
	clear:both;
	letter-spacing:normal;
}

h3{
	clear:both;
	font-size:14px;
	color:#111;
	border-bottom:1px solid #81BB00;
	letter-spacing:normal;
}

a:link, a:visited{
	color:#0e73d5;
	font-weight:bold;
	text-decoration:none;
}

a:hover{
}

a:active{
	outline:0;
}


p{
	padding-bottom:9px;
}

.descrizione{
	margin:9px 0;
	padding:9px;
	background-color:#f1f1f1;
	font-size:14px;
	clear:both;
}

.descrizione p{
	margin:0;
	padding:0;
}

.norec_cont ul{
	list-style:square;
	color:#FF0000;
	padding-left:18px;
}

input, select, textarea{
	width:40%;
	min-height:20px;
	border:solid 1px #CCCCCC;
	margin:0 15px 9px 0;
	color:#466400;
	font-size:14px;
	padding:3px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/*.ui-dialog input[type=text], .ui-dialog select, .ui-dialog textarea {
	width:60%;
}*/

.uploadify input{
	width:auto;
}

input.autocomplete, input.autocompleteffWidget_autocomplete, ipnut.ui-autocomplete-input{
	width:20%;
}

td textarea{
	width:95%;
}

input:hover, select:hover, textarea:hover{
	border:solid 1px #81bb00;
	cursor:pointer;
}

input[type="checkbox"] {
	width:21px;
	height:21px;
	border:none;
}

input[type="radio"] {
	width:21px;
	height:21px;
	border:none;
}

fieldset.radio_buttons{
	border:1px solid #CCCCCC;
	background-color:#FFFFFF;
	border-right:none;
	float:left;
	margin-top:0;
	margin-bottom:9px;
}

label.radio_b{
	width:auto;
	padding:3px 21px 3px 3px;
	margin:0;
	height:21px;
	line-height:21px;
	float:left;
	border-right:1px solid #CCCCCC;
}

label.radio_b input{
	margin:0;
	float:left;
}

input:active, textarea:active{
	border:3px solid #81bb00;
	padding:1px;
}

fieldset{
	background:#fff;
	border-top:1px solid #cccccc;
	border-left:none;
	border-right:none;
	border-bottom:none;
	background:#FAFAFA;
	margin-top:6px;
}

legend{
	color:#86A00A;
	letter-spacing:2px;
	margin-left:6px;
	margin-bottom:6px;
	padding:3px 6px;
	border:1px solid #bbbbbb;
	background-color:#FFFFFF;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	border-radius: 5px; /* CSS3 */
}

label {
	width:190px; /* Must match the exact width specified in the span */
	display:block;
	float:left;
	font-weight:normal;
	padding:0;
	text-align:right;
	margin:0 12px 8px 0;
	color:#000;
	line-height:14px;
	position:relative;
}

label span{
	display:block;
	font-size:10px;
	color:#777777;
	line-height:10px;
}

label span.required{
	position:absolute;
	left:9px;
	top:6px;
	color:#ff2c00;
	font-size:36px;
}

.row .ui-slider-horizontal{
	width:20%;
	height:5px;
	margin-left:202px;
	margin-bottom:12px;
	background:none repeat scroll 0 0 #D7D7D7;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset;
    border: 1px solid #CCCCCC;
}

/* GRUPPI CHECKBOX */

.checkgroup{
	float:left;
}
.ffWidget_checkgroup{
	display:block;
	clear:both;
}

.ffWidget_checkgroup input{
	float:left;
}

.ffWidget_checkgroup label{
	text-align:left;
	padding-top:4px;
}

/*.row .ui-state-default, .row .ui-widget-content .ui-state-default, .row .ui-widget-header .ui-state-default{
	-moz-box-shadow: none;
    background: url("../images/slider_handles.png") no-repeat scroll 0 -26px transparent;
    border: medium none;
    cursor: default;
    height: 23px;
    outline: medium none;
    position: absolute;
    width: 23px;
    z-index: 2;
	top:-6px;
}*/ /*PROBLEMA TAB DENTRO TAB IN ZOODIACO PER TRADUZIONE*/

/* Tabelle */

table{
	width:100%;
	background:#FFF;
	border-collapse:collapse;
}

td, th{
	border-bottom:1px solid #BBB;
	border-left:1px solid #E5E5E5;
	border-right:1px solid #E5E5E5;
	height:24px;
	line-height:24px;
	padding:0 9px;
	overflow:hidden;
}

td{
	line-height:18px;
	padding:3px 6px;
}

td a:link, td a:visited{
	font-weight:normal;
}

span.data{
	font-size: 12px;
	line-height:14px;
	font-family:Arial, Helvetica, sans-serif;
}

.ffGrid a.add{
	float:none;
	padding:0;
	margin:0;
}

th{
	background: #FFF; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#efefef'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#efefef)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFF,  #efefef); /* for firefox 3.6+ */
	border-left:1px solid #EEE;
	border-right:1px solid #EEE;
	border-top:1px solid #bbb;
	border-bottom:1px solid #bbb;
	color:black;
	font-size:12px;
	white-space:nowrap;
}

th:hover{
	background: #FFF; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#FFFFFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#FFF)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #efefef,  #FFF); /* for firefox 3.6+ */
}

th a:link, th a:visited{
	color:#466400;
}

th a:hover{
	color:#81bb00;
}

tr:hover{
	background:#e6fb82;
}

.ffGrid SPAN.ascending, .ffGrid SPAN.descending {
	display:inline-block;
	width:18px;
	height:15px;
	background:url(../images/FormsGrid/ascending.png) 0 4px no-repeat;
}

.ffGrid SPAN.descending { background:url(../images/FormsGrid/descending.png) 0 4px no-repeat; }

.ffGrid th.ffButton {
	width: 20px;
}

/* Utilità  */

.detailActions{
	float:right;
/*	width:150px;*/
	height:30px;
	padding-top:2px;
}

.detailActions input{
	width:auto;
	float:left;
	margin:1px 0 0 12px;
	}

.floatedRight{
	float:right;
}

.floatedLeft{
	float:left;
}

.cleared{
	clear:both;
}

.closure{
	border-bottom:3px solid #CCCCCC;
	clear:both;
}

.hidden{
	display:none;
}

/*  Layers */

#container{
	min-height:600px;
	margin:0 auto;
	min-width:900px;
}

#header{
	position:relative;
	padding:0;
	padding-top:84px;
	background:black;
}

#header h1{
	font-size:36px;
	position:absolute;
	top:30px;
	left:18px;
	color:#fff;
}

#header select.FormsControl_combo{
	width:250px;
	position:absolute;
	top:36px;
	right:0px;
}

#account{
	color:#AAA;
	width:100%;
	height:18px;
	background-color:#FFF;
	border-bottom:1px solid #eee;
	padding:4px 0;
	font-size:11px;
}

#account p.left, #account p.right{
	padding: 0 12px 0 18px;
}

#account p.left{
	float:left;
}

#account p.right{
	float:right;
}

#account p strong{
	color:#111;
}

#account a:link, #account a:visited {
	padding:3px 6px;
	background: #ffffff;
	color:#111111;
}

#account a.logout:link, #account a.logout:visited {
	background:#83b931;
	color:#fff;
}

#account a:hover{
	text-decoration:underline;
}

#account a.selected {
	color:#fff;
	background:#111111;
}

/* Contenuti */

#content{
	clear:both;
	position:relative;
	min-width:900px;
	padding:18px 12px;
	/*background-color:#ffffff;
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef'); /* for IE */
	/*background:-webkit-gradient(linear, 0% 2%, 0% 100%, from(#ffffff), to(#efefef)); /* for webkit browsers */
	/*background:-moz-linear-gradient(0% 2% 90deg,#ffffff, #efefef); /* for firefox 3.6+ */
}

/* PERSONALIZZAZIONE PER ORDINI! */

#content-ordini{ /* SOLO PER ZOODIACO */
	width: 100%;
	padding:9px;
	background:white;
	border:1px solid #CCC;
}

#content-ordini table{
	color:black;
	line-height:14px;
	width:100%;
	background:#FFF;
	border-collapse:collapse;
	font-size:9px;
}

#content-ordini td, #content-ordini th{
	border:1px solid #BBB;
	padding:1px 3px;
}

#content-ordini th{
	background-color:#EEE;
	color:black;
	font-size:12px;
	padding:1px 3px;
}

#content-ordini input{
	padding:1px;
	width:30px;
	background-color:#F6F6F6;
	border:1px solid #AAA;
	color:black;
}

#content-ordini input:hover, #content-ordini input:active{
	border:1px solid red;
}

/* ------------------------------------------------------ */

#rightCol{
	position:absolute;
	top:12px;
	right:12px;
	width:238px;
	background:white;
}

#rightCol li{
	background:#FFF;
	line-height:26px;
}

#rightCol li a:link, #rightCol li a:visited{
	padding:0 9px;
	padding-left:12px;
	display:block;
	border-bottom:1px solid #BBB;
}

#rightCol li a:hover{
	background-color:#e6fb82;
	color:#111111;
}

#rightCol ul li a.selected{
	background: #0e73d5;
	color:#FFF;
}

#rightCol h2{
	margin-bottom:3px;
	padding-left:12px;
	background:#8415a2;
	color:#fff;
	border:none;
}

#leftCol{
	min-height:350px;
	margin-right:250px;
	background:white;
	padding-right:12px;
	border-right:3px solid #ccc;
}

#leftCol h2{
	color: #111111;
	display:inline;
}

#leftCol h3{
	color: #111111;
	border-bottom:1px solid #CCC;
}

#footer{
	border-top:1px solid #CCC;
	clear:both;
	height:144px;
	line-height:36px;
	color:#444;
	padding:9px;
}

#footer a:link, #footer a:visited{
	color:#ff9500;
}

/* -----------------------------------------
		FORMS Buttons Stylesheet
   ----------------------------------------- */

.FormsButton_none, .button, .detailSubmit, .noactivebuttons/*, .uploadify object*/{
	margin:2px;
	background:url(../images/bg/pulsante.gif) bottom left repeat-x;
	color:#466400;
	border:1px solid #b4b4b4;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	border-radius: 5px; /* CSS3 */
	width:auto;
	padding:3px 6px;
	text-shadow: 1px 1px 0 #fff;
}

/*.uploadify object{
	width:120px;
	height:30px;
	line-height:30px;
	padding:0;
	display:block;
}*/

.FormsButton_none.delete, .button.delete, .detailSubmit.delete{
	color:#000000;
}

.FormsButton_none:hover, .button:hover, .detailSubmit:hover{
	background-color:#e6fb82;
	color:#81bb00;
	cursor:pointer;
}

.FormsButton_none.delete:hover, .button.delete:hover, .detailSubmit.delete:hover{
	background-color:#e6fb82;
	color:#000000;
	cursor:pointer;
}

.detailSubmit:active{
	background-color:#e6fb82;
	color:#81bb00;
	padding:3px 6px;
	border:1px solid #b4b4b4;
}

.FormsButton_none:active, .button:active{
	margin:2px;
	border:1px solid #466400;
	width:auto;
	padding:3px 6px;
}

.button_special {
}

.button_special:hover {
}


.link {
}

/* Page Navigator */

.pageNavigator {
	visibility: hidden;
	height: 30px;
}

.pageNavigator a:link, .pageNavigator a:visited{
	height: 15px;
	padding: 0 8px;
/*	padding:0 6px 0 6px;*/
	margin-top:1px;
	border:1px solid #A6B3C0;
}

.pageNavigator a:hover{
	border:1px solid #0e73d5;
	background:#1d85e9;
	color:#ffffff;
}

.page{
	height: 15px;
	display:inline;
}

.perPage{
	float:right;
}

.pageNavigator .current a:link, .pageNavigator .current a:visited, .perPage a.current:link, .perPage a.current:visited{
	font-weight:bold;
	line-height:26px;
	color:#fff;
	background:#0e73d5;
	border:1px solid #0e73d5;
}

.pageNavigator a.first:link, .pageNavigator a.first:visited{
	background-image:url(../images/bg/pn-l.gif);
	background-position:-1px -1px;
	width:19px;
	height:15px;
	padding:0 8px;
}

.pageNavigator a.first:hover{
	background-image:url(../images/bg/pn-l.gif);
	background-position:-1px 16px;
	width:19px;
	height:15px;
	padding:0 8px;
}

.pageNavigator a.prev-frame:link, .pageNavigator a.prev-frame:visited{
	background-image:url(../images/bg/pn-l.gif);
	background-position:-21px -1px;
	width:19px;
	height:15px;
	padding:0 8px;
}

.pageNavigator a.prev-frame:hover{
	background-image:url(../images/bg/pn-l.gif);
	background-position:-21px 16px;
	width:19px;
	height:15px;
	padding:0 8px;
}

.pageNavigator a.prev:link, .pageNavigator a.prev:visited{
	background-image:url(../images/bg/pn-l.gif);
	background-position:20px -1px;
	width:19px;
	height:15px;
	padding:0 8px;
}

.pageNavigator a.prev:hover{
	background-image:url(../images/bg/pn-l.gif);
	background-position:20px 16px;
	width:19px;
	height:15px;
	padding:0 8px;
}

.pageNavigator a.last:link, .pageNavigator a.last:visited{
	background-image:url(../images/bg/pn-r.gif);
	background-position:-41px -1px;
	width:19px;
	height:15px;
	padding:0 8px;
}

.pageNavigator a.last:hover{
	background-image:url(../images/bg/pn-r.gif);
	background-position:-41px 16px;
	width:19px;
	height:15px;
	padding:0 8px;
}

.pageNavigator a.next-frame:link, .pageNavigator a.next-frame:visited{
	background-image:url(../images/bg/pn-r.gif);
	background-position:-21px -1px;
	width:19px;
	height:15px;
	padding:0 8px;
}

.pageNavigator a.next-frame:hover{
	background-image:url(../images/bg/pn-r.gif);
	background-position:-21px 16px;
	width:19px;
	height:15px;
	padding:0 8px;
}

.pageNavigator a.next:link, .pageNavigator a.next:visited{
	background-image:url(../images/bg/pn-r.gif);
	background-position:-1px -1px;
	width:19px;
	height:15px;
	padding:0 8px;
}

.pageNavigator a.next:hover{
	background-image:url(../images/bg/pn-r.gif);
	background-position:-1px 16px;
	width:19px;
	height:15px;
	padding:0 8px;
}

/* Grid */

.grid{
	clear:both;
}

.grid td a:link, .grid td a:hover, .grid td a:visited{
	color:black;
}

.grid td a.link:link, .grid td a.link:hover, .grid td a.link:visited{
	color:#0E73D5;
}

.heading{
	border-bottom:3px solid #81bb00;
	position:relative;
	clear:both;
}

.heading h2{
	border-bottom:none;
	display:inline;
}

.heading .actions{
	display:inline;
	background:none;
}

.search{
	position:relative;
	margin-bottom:9px;
	width:100%;
	float:left;
}

.search h2{
	margin-bottom:9px;
}

.search .ricerca-semplice{
	background-color:#81bb00;
	height:20px;
	padding:6px 12px 5px 0;
	width: auto;
	position:static;
	float:right;
	margin-top:-31px;
}

.search .ricerca-semplice .simple{
	display:inline-block;
	float:right;
}

.search .ricerca-semplice .simple a:link, .search .ricerca-semplice .simple a:visited{
	color:#ffffff;
	font-size:10px;
	margin-left:12px;
	background:none;
	border:none;
	text-shadow:none;
}

.search .ricerca-semplice .simple a:hover{
	text-decoration:underline;
}

.search input.button, .search input.noactivebuttons, .search a:link, .search a:visited{
	margin:0 0 0 9px;
	height:16px;
	line-height:16px;
	padding:0 3px 3px 3px;
	width:auto;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#f1f1f1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#f1f1f1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFF,  #f1f1f1); /* for firefox 3.6+ */
	border:1px solid #4e9300;
	color:#555555;
	font-weight:normal;
	text-shadow:1px 1px 0 #FFFFFF;
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari, Chrome */
	border-radius: 3px; /* CSS3 */
	display:inline-block;
}

.search a:link, .search a:visited{
	float:right;
	padding:0 3px;
	font-size:11px;
}

.search input.button:hover, .search input.noactivebuttons:hover, .search input.button:active, .search input.noactivebuttons:active, .search a:hover{
	border:1px solid #3b8200;
	color:#3b8200;
}

.search .set{
	background-color:#c1dd81;
	float:left;
	width:100%;
	border-bottom:3px solid #81bb00;
	border-top:3px solid #81bb00;
}

.search fieldset{
	float:left;
	padding:6px;
	border:none;
	background-color:#c1dd81;
	margin-right:3px;
	margin-bottom:3px;
	font-size:10px;
}

.search input, .search select, .search textarea{
	float:right;
	margin:0 0 0 9px;
	width:100px;
	height:18px;
	min-height:18px;
	padding:0;
	font-size:10px;
}

.record .search select, .ffRecord .search select{
	width:100px;
}

.search label{
	float:left;
	width:inherit;
	padding:0;
	display:block;
	height:18px;
	line-height:18px;
	margin-top:1px;
	margin-bottom:2px;
}

.search input, .search select, .search textarea{
	float:right;
	margin:0 0 0 9px;
	width:100px;
	height:18px;
	min-height:18px;
	padding:0;
	font-size:10px;
	border:1px solid #81bb00;
	background-color:#fafafa;
}

.search input:hover, .search select:hover, .search textarea:hover{
	border:1px solid #4E9300;
	background-color:#ffffff;
}

.search input:active, .search select:active, .search textarea:active{
	border:1px solid #446400;
	background-color:#ffffff;
	padding:0;
}

.search table{
	background:#fafafa;
}

.search tr:hover{
	background:none;
}

.search td{
	width:auto;
	border:none;
}

.pageNavigator .disabled{
	display:none;
}

.GridActions, .ffButton{
	/* width:18px; */
	/* text-align:center; */
	vertical-align:middle;
	position:relative;
}

.GridButtons{
	width:48px;
}

td.GridButtons, tr.hidden_section td{
	background-color:#fafafa;
}

.actions {
	clear:both;
	background:#e6e6e6;
	text-align:center;
	height:39px;
	line-height:37px;
	padding-bottom:1px;
}

.GridSortIcons{
	float:left;
}

/*th.FormsGridButtonCol{
	width:16px;
}*/

td.FormsGridButtonCol a{
	padding:0;
}

a.ico-add:link, a.ico-add:visited{
	color:#61a200;
	padding:6px 6px 6px 51px;
	margin-left:15px;
	background:url(../images/bg/addnew.png) 15px 0 no-repeat;
	display:inline-block;
	height:16px;
	line-height:16px;
	border-left: 1px solid #CCCCCC;
}

a.action-header:link, a.action-header:visited{
	color:#61a200;
	padding:6px 6px 6px 51px;
	margin-left:15px;
	display:inline-block;
	height:16px;
	line-height:16px;
	border-left: 1px solid #CCCCCC;
}

/*.heading a.link:link, .heading a.link:visited{
	color:#61a200;
	padding:6px 6px 6px 51px;
	margin-left:15px;
	background:url(../images/bg/addnew.png) 15px 0 no-repeat;
	display:inline-block;
	height:16px;
	border-left: 1px solid #CCCCCC;
}*/

a.addNew:hover, a.link:hover{
	text-decoration:underline;
}

.grid a.addNew:hover{
}

.grid a.addNew:active{
	outline:none;
}

.grid a.addNew:active{
	background:#FFF url(../images/bg/btn.gif) bottom left no-repeat;
}

a.new:link, a.new:visited{
	float:right;
	display:block;
	border:1px solid #ff7a13;
	background:#fff;
	padding:3px 6px;
	font-weight:bold;
	color:#ff7a13;
}

a.new:hover{
	background:#ff7a13;
	color:#fff;
}

tr.subtotali td{
	background:#0090ff;
	color:#fff;
	font-weight:bold;

}

tr.totali td{
	background:#FFFF66;
	color:#000;
	font-weight:bold;
}

tr.hidden_section td{
	background-color:#f1f1f1;
	color:#000;
	font-weight:bold;
}

/* Filters */

#filters{
	clear:both;
}

#filters a:link, #filters a:visited, #filters .current{
	line-height:18px;
	height:18px;
	padding:0 9px;
	color:#ff7a13;
}

#filters a:hover{
	background:#ff7a13;
	color:white;
}

#filters .current{
	background:#ff7a13;
	color:white;
	font-weight:bold;
}

/* -----------------------------------------
		cFormsRecord Stylesheet
   ----------------------------------------- */


.error, .std-error{
	padding:9px;
	border:1px solid red;
	font-weight:bold;
	margin:6px 0;
	background:#ffe5e5;
	color:red;
}

.warning{
	padding:9px;
	border:1px solid #995c00;
	font-weight:bold;
	margin:6px 0;
	background:#fcefaf;
	color:#995c00;
}

.info{
	padding:9px;
	border:1px solid #0c4b96;
	font-weight:bold;
	margin:6px 0;
	background:#bce1f7;
	color:#0c4b96;
}

.success{
	padding:9px;
	border:1px solid #478809;
	font-weight:bold;
	margin:6px 0;
	background:#daf1be;
	color:#478809;
}

.record div.warning, .ffRecord div.warning{
	padding:9px 0 9px 9px;
	border:1px solid #995c00;
	font-weight:bold;
	margin:6px 0;
	background:#fcefaf;
	color:#995c00;
}

.FormsRecordActions{
	text-align:center;
	padding:6px 0;
}

.record fieldset, .ffRecord fieldset{
	margin-bottom:3px;
}

.add{
	margin:0 15px 16px 0;
	min-height:20px;
	padding:6px 3px 3px 15px;
	float:left;
}

.activecomboex-icon .add, .actex-icon .add{
	margin: 0;
}

.record fieldset div.row, .ffRecord fieldset div.row{
	clear:both;
	float:left;
	width:100%;
	margin-top:9px;
	border-bottom:1px solid #e6e6e6;
}

select.ffWidget_activecomboex, select.ffWidget_actex {
	float: left;
}

.record fieldset div.activecomboex, .ffRecord fieldset div.activecomboex {
	width:100%;
	border-bottom:none;
	clear:none;
	float:none;
	margin-top:0;
}

.record fieldset span.activecomboex, .ffRecord fieldset span.activecomboex {
	width:40%;
	height:30px;
	float:left;
	border-bottom:none;
}

.record fieldset span.activecomboex select, .ffRecord fieldset span.activecomboex select {
	width:100%;
}

.search fieldset div.activecomboex, .search fieldset div.actex {
	width:100px;
	float:right;
	clear:none;
}

.record label, .ffRecord label{
	position:relative;
}

span.ffButton{
	/* width: auto; */
	/* text-align:left; */
	/* font-weight:bold; */
	/* font-size:12px; */
}

.record #MainRecord_discl_sect, .ffRecord #MainRecord_discl_sect{
	width:100%;
}

fieldset.box2{	
	border:1px solid #bbbbbb;
}

fieldset.box2 div{
	width:420px;
}

.row fieldset.box2, .row fieldset.box2 div{
	width:100%;
	float:none;
}

.row fieldset.box2 div label{
	border-right:0;
}

.record table.cke_editor, fieldset div span.cke_skin_office2003 table.cke_editor, .ffRecord table.cke_editor{
/*	width:auto; */
}

.record tr:hover, .ffRecord tr:hover{
	background:white;
}

.record select, .ffRecord select{
	width:40%;
}

.record td select, .record td input[type="text"], .ffRecord td select, .ffRecord td input[type="text"]{
	width:90%;
	margin:0;
}

.left{
	float:left;
}

.right{
	float:right;
}

.row{
	float:left;
	/*width:100%;*/
}

tr.row{
	float:none;
}

.cols2{
	width:48%;
}

.textLabel{
	width:200px;
	text-align:right;
	background:#FAFAFA;
	border-right:1px solid #bbbbbb;
}

.ui-datepicker-calendar td {
	margin: 0;
	padding: .2em;
}

input.ui-button, div.ui-tabs input.ui-button{
	background-color:#ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#dadada'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#dadada)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFF,  #dadada); /* for firefox 3.6+ */
	padding:3px 6px;
	border-color:#b4b4b4;
}

div.ui-tabs input.ui-button{
	margin-top:3px;
}

input.ui-button:hover, div.ui-tabs input.ui-button:hover{
	background-color:#ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dadada', endColorstr='#ffffff'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(#ffffff)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #dadada,  #ffffff); /* for firefox 3.6+ */
}

.grid .text{
	text-align:left;
}

.grid .date{
	text-align:center;
}

.grid .number{
	text-align:center;
}

.grid .currency{
	text-align:right;
}

.grid .sospeso{
	background:red;
}

.grid .gratis{
	background:#00FF00;
}

#jqtree_content{
	margin-left:250px;
	
}

#jqtree{
	width:238px;
	position:absolute;
	left:15px;
	top:15px;
}

/* CHARTS */

#my_chart, #adv{
	float:left;
	width:100%;
	height:176px;
}

#my_chart2{
	float:right;
	width:49%;
	height:176px;
}

#adv2{
	width:100%;
	height:176px;
}

span.activecomboex, span.actex
{
	font-size: 14px;
}

div.caricamento{
	display:block;
	float:none;
	width:100%;
}

div.caricamento p{
	float:none;
}

.upload_file{
	float:left;
}

#MainRecordfilepathUploader{
	/*float:left;*/
	margin-right:15px;
}

.img_preview{
	float:left;
	margin-right:9px;
}

/* DETTAGLIO */

.detailActions input.detailQTA{
	width:30px;
}

.box2{
	width:420px;
	float:left;
	margin-right:12px;
	margin-bottom:2px;
	background:#fefefe;
}

fieldset.box2{
	width:auto;
	float:left;
	margin-right:12px;
	margin-bottom:2px;
	background:#fefefe;
}

.box2 label{
	width:120px;
}

a.discl_close{
	width:18px;
	height:18px;
	display:block;
	float:left;
	margin:9px 9px 9px 0;
	background:url(../images/bg/discosure.gif) bottom left #0e73d5;
}

a.discl_open{
	width:18px;
	height:18px;
	display:block;
	float:left;
	margin:9px 9px 9px 0;
	background:url(../images/bg/discosure.gif) top left #0e73d5;
}

.sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin: 10px 0;
	border: 1px solid #999999;
	background-color:#ededed; 
}
	
.draggable {
	margin: 6px;
	padding: 12px 12px 3px 12px;
	font-size: 1.2em;
	width: 90%;
	border: 1px solid #999999;
	background: url(../images/bg/draggable.gif) left repeat-y white;
	position:relative;
}

.draggable label{
	width:20%;
}

.draggable input, .draggable select, .draggable textarea{
	width:70%;
}

li.draggable:hover {
	width: 90%;
	border: 1px solid #0e73d5;
}

.draggable a.FormsButton_link{
	position:absolute;
	top:6px;
	right:6px;
}
	
.not-draggable {
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	font-weight: bold;
	color: white;
	width: 120px; 
}

.choice .currentpage {
	width: 30px;
	height: 15px;
	min-height: 15px;
	padding-top: 2px;
	font-size: 11px;
	margin-right: 2px;
	text-align: right;
}


/* DIALOG */

.butsub{
	width:40px;
	margin:0 9px 0 0;
}

.ui-dialog{
	background:#fff;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

.ui-dialog .ui-dialog-content{
	padding:6px;
}


/* PROGRESSBAR */

.ui-progressbar-value{
	background:url("../images/gradient.png") repeat-x scroll 0 0 transparent;
}

/* STATISTICHE */

.content-statistiche{
	width:100%;
	float:left;
}

.mese1, .mese2{
	width:40%;
	background-color:#00FF00;
	float:left;
}

.statistiche{
	width:20%;
	background-color:#CCCC66;
	float:left;
}

.statistiche table tr td{
	background-color:#FFFF66;
	color:#000000;
	text-align:center;
}

/* GRAFICI */
#chartArea{
	clear:both;
}

#chart_div_column_hostingmese, #chart_div_pie_pagamenti{
	float:left;
}

/* BOX CARICAMENTO AJAX */

/*
.blockOverlay {
	background-color: white;
	opacity: 0.4;
}
*/

.blockMsg {
	background: url(../images/plugins/ajax-loader.gif) center no-repeat #ffffff;
	margin:0;
	width:48px;
	height:48px;
	border:1px solid #bbbbbb;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	border-radius: 5px; /* CSS3 */
	-moz-box-shadow:0 0 5px #999999;
    -webkit-box-shadow:0 0 5px #999999;
    box-shadow:0 0 5px #999999;
	top:40%;
	left:45%;
	textAlign:	center;
}

.listgroup fieldset{
	clear:both;
	padding-top:9px;
}

a.del-file, a.ico-delete {
	width:16px;
	height:16px;
	display:block;
	background:url(../images/icons/delete.png) no-repeat;
	cursor:pointer;
	z-index:100;	
}


/* STILI LOGIN */

.login-field label{
	text-align:left;
}

.loginBox .actions, .standard-login .actions, .logout-field .actions{
	width:250px;
	background:none;
	clear: both;
	height: 46px;
	line-height: 37px;
	text-align: center;
}

.loginBox .actions input{
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari and Chrome */
	border-radius: 3px; /* Opera 10.50, IE and CSS3 */
	margin-top:6px;
	width:auto;
	/*background:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5'); /* for IE */
	background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5)); /* for webkit browsers */
	background:-moz-linear-gradient(top,  #ffffff,  #e5e5e5); /* for firefox 3.6+ */;
	padding:6px 9px;
}

.loginBox .actions input:active{
	border:1px solid #81bb00;
	/*background:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff'); /* for IE */
	background:-webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#ffffff)); /* for webkit browsers */
	background:-moz-linear-gradient(top,  #e5e5e5,  #ffffff); /* for firefox 3.6+ */;
	padding:6px 9px;
}

.loginBox .actions input:hover{
	border:1px solid #81bb00;
	padding:6px 9px;
}

.loginBox p{
	text-align:center;
	width:250px;
}

.loginBox .std-error{
	width:230px;
}
.ico-visible {
	display: block;
	width: 32px;
	height: 32px;
	background-color: green;
}
.ico-notvisible {
	display: block;
	width: 32px;
	height: 32px;
	background-color: red;
}

select.ffWidget_timepicker {
	width: 50px;
}

@media print{
	.search, #rightCol, #menu, a.addNew, #account, #footer, .FormsGridCommands, .pageNavigator, #header, a.addNew:link, a.addNew:visited  {
		display:none;
	}
	
	div{
		float:none;
		position:static;
	}
	
	#leftCol{
		border:none;
		width:100%;
		float:none;
	}
	
	.ffGrid tr.subtotali td {
		background: #000000;
		color: white;
		font-weight: bold;
	}
	
	.ffGrid * {
		font-size: x-large;
	}
	
	td, th {
		border-color: black;
	}
	
	.heading {
		border-color: black;
	}
	
	th a:link, th a:visited {
		color: black;
	}
	
	.actions a.link:link, .actions a.link:visited {
		display:none;
	}
}

td.overdue a:link{
	color:#ff0000;
}


.grid td a.ico-status-off:link, .grid td a.ico-status-off:hover, .grid td a.ico-status-off:visited{
	width:16px;
	height:16px;
	display:block;
	background:url(../images/FormsGrid/off.gif) top left no-repeat;
}

.grid td a.ico-status-on:link, .grid td a.ico-status-on:hover, .grid td a.ico-status-on:visited{
	width:16px;
	height:16px;
	display:block;
	background:url(../images/FormsGrid/on.gif) top left no-repeat;
}

input.ffWidget_actex {
	margin-right: 0;
	float: left;
}

.custom-combobox-toggle {
	float: left;
	height: 22px;
}

ul.ui-autocomplete li.ui-menu-item a {
	display: block;
	width: 100%;
	border: 0;
}

.autocomp_selected {
	background-color: #EEE;
}

.dialogActionsPanel input.right {
	min-width: 100px;
	margin-top: 6px;
}

.ffDetails_sort .sortable .ico-delete {
	float: right;
}

.ffDetails_sort .sortable .jquery-checkbox {
	float: left;
}

.totelem {
	float: right;
	margin-left: 10px;
	margin-right: 10px;
}