.NewIcon {
    border:none;
    background: transparent;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-bottom: -2px;
}

.NewIcon_rleft {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.NewIcon_rright {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.NewIcon_flip {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.NewIcon_add, .NewIcon_ok, .NewIcon_copy, .NewIcon_date, .NewIcon_delete, .NewIcon_down, .NewIcon_file, .NewIcon_left, .NewIcon_mail1, .NewIcon_mail2, .NewIcon_move, .NewIcon_paste, .NewIcon_right, .NewIcon_save, .NewIcon_up, .NewIcon_wait, .NewIcon_access, .NewIcon_computer1, .NewIcon_computer2, .NewIcon_contact, .NewIcon_error, .NewIcon_folder_closed, .NewIcon_folder_open, .NewIcon_home, .NewIcon_print, .NewIcon_filter, .NewIcon_sound, .NewIcon_comment1, .NewIcon_comment2, .NewIcon_cut, .NewIcon_data, .NewIcon_wizard, .NewIcon_zoom, .NewIcon_zoom_in, .NewIcon_zoom_out, .NewIcon_color3, .NewIcon_comment3, .NewIcon_database, .NewIcon_graph1, .NewIcon_graph2, .NewIcon_lock, .NewIcon_measurement1, .NewIcon_measurement2, .NewIcon_search, .NewIcon_settings1, .NewIcon_sitemap, .NewIcon_table, .NewIcon_unlock, .NewIcon_calculate, .NewIcon_help, .NewIcon_information, .NewIcon_support1, .NewIcon_support2, .NewIcon_view, .NewIcon_color1, .NewIcon_color2, .NewIcon_edit, .NewIcon_format1, .NewIcon_fromat2, .NewIcon_image, .NewIcon_link, .NewIcon_preview, .NewIcon_redo1, .NewIcon_redo2, .NewIcon_refresh, .NewIcon_select_all, .NewIcon_settings2, .NewIcon_time, .NewIcon_undo1, .NewIcon_undo2, .NewIcon_label, .NewIcon_ordered_list, .NewIcon_research, .NewIcon_text_align_center, .NewIcon_text_align_left, .NewIcon_text_align_right, .NewIcon_text_indent, .NewIcon_text_justify, .NewIcon_text_outdent, .NewIcon_unordered_list, .NewIcon_administrator1, .NewIcon_anchor, .NewIcon_anonymous, .NewIcon_business, .NewIcon_finances, .NewIcon_law, .NewIcon_pay, .NewIcon_photo, .NewIcon_security, .NewIcon_turn-off, .NewIcon_turn-on, .NewIcon_user1, .NewIcon_user2, .NewIcon_user3, .NewIcon_video, .NewIcon_administrator2, .NewIcon_application, .NewIcon_file_manager, .NewIcon_music, .NewIcon_notepad, .NewIcon_registration1, .NewIcon_tile_windows_horizontally, .NewIcon_tile_windows_vertically, .NewIcon_trash, .NewIcon_user4, .NewIcon_user5, .NewIcon_user6, .NewIcon_web, .NewIcon_check-in, .NewIcon_check-out, .NewIcon_flag1, .NewIcon_flag2, .NewIcon_flag3, .NewIcon_flag4, .NewIcon_level_down, .NewIcon_level_up, .NewIcon_relationships, .NewIcon_shopping_cart, .NewIcon_sort_by_date, .NewIcon_sort_by_name, .NewIcon_sort_by_quantity, .NewIcon_user8, .NewIcon_user9, .NewIcon_administrator3, .NewIcon_backup, .NewIcon_record, .NewIcon_record_copy, .NewIcon_registration2, .NewIcon_report1, .NewIcon_report2, .NewIcon_report3, .NewIcon_restore, .NewIcon_script, .NewIcon_user7, .NewIcon_connect1, .NewIcon_connect2, .NewIcon_connect3, .NewIcon_database_export, .NewIcon_database_import, .NewIcon_disconnect1, .NewIcon_disconnect2, .NewIcon_first, .NewIcon_firstl, .NewIcon_last, .NewIcon_lastr, .NewIcon_search_again, .NewIcon_web-server, .NewIcon_bold, .NewIcon_database_field, .NewIcon_database_form, .NewIcon_database_table, .NewIcon_italic, .NewIcon_server1, .NewIcon_server2, .NewIcon_servers, .NewIcon_table_align_columns, .NewIcon_table_align_rows, .NewIcon_table_auto_format, .NewIcon_table_borders, .NewIcon_table_cell_alignment, .NewIcon_table_merge_cells, .NewIcon_table_split_cells, .NewIcon_underline, .NewIcon_eject, .NewIcon_fast_forward, .NewIcon_pause, .NewIcon_play, .NewIcon_reverse, .NewIcon_skip_backward, .NewIcon_skip_forward, .NewIcon_stop, .NewIcon_strike, .NewIcon_attention1, .NewIcon_attention2, .NewIcon_attention3, .NewIcon_file_add, .NewIcon_access_add, .NewIcon_computer1_add, .NewIcon_computer2_add, .NewIcon_contact_add, .NewIcon_filter_add, .NewIcon_folder_add, .NewIcon_mail1_add, .NewIcon_mail2_add, .NewIcon_comment1_add, .NewIcon_comment2_add, .NewIcon_comment3_add, .NewIcon_data_add, .NewIcon_database_add, .NewIcon_support1_add, .NewIcon_support2_add, .NewIcon_table_add, .NewIcon_image_add, .NewIcon_label_add, .NewIcon_link_add, .NewIcon_anchor_add, .NewIcon_business_add, .NewIcon_finances_add, .NewIcon_law_add, .NewIcon_pay_add, .NewIcon_photo_add, .NewIcon_security_add, .NewIcon_video_add, .NewIcon_administrator1_add, .NewIcon_administrator2_add, .NewIcon_anonymous_add, .NewIcon_application_add, .NewIcon_file_manager_add, .NewIcon_music_add, .NewIcon_notepad_add, .NewIcon_registration1_add, .NewIcon_trash_add, .NewIcon_user1_add, .NewIcon_user2_add, .NewIcon_user3_add, .NewIcon_user4_add, .NewIcon_user5_add, .NewIcon_user6_add, .NewIcon_flag1_add, .NewIcon_flag2_add, .NewIcon_flag3_add, .NewIcon_flag4_add, .NewIcon_shopping_cart_add, .NewIcon_user8_add, .NewIcon_user9_add, .NewIcon_web_add, .NewIcon_administrator3_add, .NewIcon_backup_add, .NewIcon_record_add, .NewIcon_registration2_add, .NewIcon_report1_add, .NewIcon_report2_add, .NewIcon_report3_add, .NewIcon_script_add, .NewIcon_user7_add, .NewIcon_web-server_add, .NewIcon_database_form_add, .NewIcon_server1_add, .NewIcon_server2_add, .NewIcon_database_field_add, .NewIcon_database_table_add, .NewIcon_file_delete, .NewIcon_access_delete, .NewIcon_computer1_delete, .NewIcon_contact_delete, .NewIcon_folder_delete, .NewIcon_mail1_delete, .NewIcon_mail2_delete, .NewIcon_computer2_delete, .NewIcon_filter_delete, .NewIcon_sound_delete, .NewIcon_data_delete, .NewIcon_comment1_delete, .NewIcon_comment2_delete, .NewIcon_comment3_delete, .NewIcon_database_delete, .NewIcon_table_delete, .NewIcon_support1_delete, .NewIcon_support2_delete, .NewIcon_image_delete, .NewIcon_link_delete, .NewIcon_label_delete, .NewIcon_business_delete, .NewIcon_finances_delete, .NewIcon_law_delete, .NewIcon_security_delete, .NewIcon_administrator1_delete, .NewIcon_administrator2_delete, .NewIcon_anchor_delete, .NewIcon_anonymous_delete, .NewIcon_notepad_delete, .NewIcon_pay_delete, .NewIcon_photo_delete, .NewIcon_registration1_delete, .NewIcon_trash_delete, .NewIcon_user1_delete, .NewIcon_user2_delete, .NewIcon_user3_delete, .NewIcon_user4_delete, .NewIcon_user5_delete, .NewIcon_user6_delete, .NewIcon_video_delete, .NewIcon_application_delete, .NewIcon_file_manager_delete, .NewIcon_music_delete, .NewIcon_user8_delete, .NewIcon_web_delete, .NewIcon_flag1_delete, .NewIcon_flag2_delete, .NewIcon_flag3_delete, .NewIcon_flag4_delete, .NewIcon_shopping_cart_delete, .NewIcon_user7_delete, .NewIcon_user9_delete, .NewIcon_administrator3_delete, .NewIcon_backup_delete, .NewIcon_record_delete, .NewIcon_registration2_delete, .NewIcon_report1_delete, .NewIcon_report2_delete, .NewIcon_report3_delete, .NewIcon_script_delete, .NewIcon_web-server_delete, .NewIcon_connect3_delete, .NewIcon_database_field_delete, .NewIcon_database_form_delete, .NewIcon_database_table_delete, .NewIcon_server1_delete, .NewIcon_server2_delete, .NewIcon_video_play, .NewIcon_web-server_start, .NewIcon_backup_start, .NewIcon_computer1_start, .NewIcon_computer2_start, .NewIcon_data_play, .NewIcon_database_start, .NewIcon_script_start, .NewIcon_server1_start, .NewIcon_server2_start, .NewIcon_sound_play, .NewIcon_video_stop, .NewIcon_web-server_stop, .NewIcon_backup_stop, .NewIcon_computer1_stop, .NewIcon_computer2_stop, .NewIcon_data_stop, .NewIcon_database_stop, .NewIcon_music_stop, .NewIcon_script_stop, .NewIcon_server1_stop, .NewIcon_server2_stop, .NewIcon_sound_stop, .NewIcon_file_edit, .NewIcon_access_edit, .NewIcon_folder_close_edit, .NewIcon_mail1_edit, .NewIcon_mail2_edit, .NewIcon_computer1_edit, .NewIcon_computer2_edit, .NewIcon_contact_edit, .NewIcon_filter_edit, .NewIcon_comment1_edit, .NewIcon_data_edit, .NewIcon_comment2_edit, .NewIcon_comment3_edit, .NewIcon_database_edit, .NewIcon_support1_edit, .NewIcon_support2_edit, .NewIcon_table_edit, .NewIcon_image_edit, .NewIcon_link_edit, .NewIcon_label_edit, .NewIcon_administrator1_edit, .NewIcon_anchor_edit, .NewIcon_anonymous_edit, .NewIcon_business_edit, .NewIcon_finances_edit, .NewIcon_law_edit, .NewIcon_pay_edit, .NewIcon_photo_edit, .NewIcon_security_edit, .NewIcon_user1_edit, .NewIcon_user2_edit, .NewIcon_user3_edit, .NewIcon_user4_edit, .NewIcon_user5_edit, .NewIcon_video_edit, .NewIcon_administrator2_edit, .NewIcon_music_edit, .NewIcon_notepad_edit, .NewIcon_registration1_edit, .NewIcon_trash_edit, .NewIcon_user6_edit, .NewIcon_flag1_edit, .NewIcon_flag2_edit, .NewIcon_flag3_edit, .NewIcon_flag4_edit, .NewIcon_shopping_cart_edit, .NewIcon_user7_edit, .NewIcon_user8_edit, .NewIcon_user9_edit, .NewIcon_web_edit, .NewIcon_administrator3_edit, .NewIcon_backup_edit, .NewIcon_record_edit, .NewIcon_registration2_edit, .NewIcon_script_edit, .NewIcon_web-server_edit, .NewIcon_database_field_edit, .NewIcon_database_form_edit, .NewIcon_database_table_edit, .NewIcon_server1_edit, .NewIcon_server2_edit, .NewIcon_Sfondo {background: url(../images/icons/newicons.png) no-repeat}

.NewIcon_add {background-position: 0 0; width: 16px; height: 16px}
.NewIcon_ok {background-position: -16px 0; width: 16px; height: 16px}
.NewIcon_copy {background-position: -32px 0; width: 16px; height: 16px}
.NewIcon_date {background-position: -48px 0; width: 16px; height: 16px}
.NewIcon_delete {background-position: -64px 0; width: 16px; height: 16px}
.NewIcon_down {background-position: -80px 0; width: 16px; height: 16px}
.NewIcon_file {background-position: -96px 0; width: 16px; height: 16px}
.NewIcon_left {background-position: -112px 0; width: 16px; height: 16px}
.NewIcon_mail1 {background-position: -128px 0; width: 16px; height: 16px}
.NewIcon_mail2 {background-position: -144px 0; width: 16px; height: 16px}
.NewIcon_move {background-position: -160px 0; width: 16px; height: 16px}
.NewIcon_paste {background-position: -176px 0; width: 16px; height: 16px}
.NewIcon_right {background-position: -192px 0; width: 16px; height: 16px}
.NewIcon_save {background-position: -208px 0; width: 16px; height: 16px}
.NewIcon_up {background-position: -224px 0; width: 16px; height: 16px}
.NewIcon_wait {background-position: -240px 0; width: 16px; height: 16px}
.NewIcon_access {background-position: -256px 0; width: 16px; height: 16px}
.NewIcon_computer1 {background-position: -272px 0; width: 16px; height: 16px}
.NewIcon_computer2 {background-position: -288px 0; width: 16px; height: 16px}
.NewIcon_contact {background-position: -304px 0; width: 16px; height: 16px}
.NewIcon_error {background-position: -320px 0; width: 16px; height: 16px}
.NewIcon_folder_closed {background-position: -336px 0; width: 16px; height: 16px}
.NewIcon_folder_open {background-position: -352px 0; width: 16px; height: 16px}
.NewIcon_home {background-position: -368px 0; width: 16px; height: 16px}
.NewIcon_print {background-position: -384px 0; width: 16px; height: 16px}
.NewIcon_filter {background-position: -400px 0; width: 16px; height: 16px}
.NewIcon_sound {background-position: -416px 0; width: 16px; height: 16px}
.NewIcon_comment1 {background-position: -432px 0; width: 16px; height: 16px}
.NewIcon_comment2 {background-position: -448px 0; width: 16px; height: 16px}
.NewIcon_cut {background-position: -464px 0; width: 16px; height: 16px}
.NewIcon_data {background-position: -480px 0; width: 16px; height: 16px}
.NewIcon_wizard {background-position: -496px 0; width: 16px; height: 16px}
.NewIcon_zoom {background-position: -512px 0; width: 16px; height: 16px}
.NewIcon_zoom_in {background-position: -528px 0; width: 16px; height: 16px}
.NewIcon_zoom_out {background-position: -544px 0; width: 16px; height: 16px}
.NewIcon_color3 {background-position: -560px 0; width: 16px; height: 16px}
.NewIcon_comment3 {background-position: -576px 0; width: 16px; height: 16px}
.NewIcon_database {background-position: -592px 0; width: 16px; height: 16px}
.NewIcon_graph1 {background-position: -608px 0; width: 16px; height: 16px}
.NewIcon_graph2 {background-position: -624px 0; width: 16px; height: 16px}
.NewIcon_lock {background-position: -640px 0; width: 16px; height: 16px}
.NewIcon_measurement1 {background-position: -656px 0; width: 16px; height: 16px}
.NewIcon_measurement2 {background-position: -672px 0; width: 16px; height: 16px}
.NewIcon_search {background-position: -688px 0; width: 16px; height: 16px}
.NewIcon_settings1 {background-position: -704px 0; width: 16px; height: 16px}
.NewIcon_sitemap {background-position: -720px 0; width: 16px; height: 16px}
.NewIcon_table {background-position: -736px 0; width: 16px; height: 16px}
.NewIcon_unlock {background-position: -752px 0; width: 16px; height: 16px}
.NewIcon_calculate {background-position: -768px 0; width: 16px; height: 16px}
.NewIcon_help {background-position: -784px 0; width: 16px; height: 16px}
.NewIcon_information {background-position: -800px 0; width: 16px; height: 16px}
.NewIcon_support1 {background-position: -816px 0; width: 16px; height: 16px}
.NewIcon_support2 {background-position: -832px 0; width: 16px; height: 16px}
.NewIcon_view {background-position: -848px 0; width: 16px; height: 16px}
.NewIcon_color1 {background-position: -864px 0; width: 16px; height: 16px}
.NewIcon_color2 {background-position: -880px 0; width: 16px; height: 16px}
.NewIcon_edit {background-position: -896px 0; width: 16px; height: 16px}
.NewIcon_format1 {background-position: -912px 0; width: 16px; height: 16px}
.NewIcon_fromat2 {background-position: -928px 0; width: 16px; height: 16px}
.NewIcon_image {background-position: -944px 0; width: 16px; height: 16px}
.NewIcon_link {background-position: -960px 0; width: 16px; height: 16px}
.NewIcon_preview {background-position: -976px 0; width: 16px; height: 16px}
.NewIcon_redo1 {background-position: -992px 0; width: 16px; height: 16px}
.NewIcon_redo2 {background-position: -1008px 0; width: 16px; height: 16px}
.NewIcon_refresh {background-position: -1024px 0; width: 16px; height: 16px}
.NewIcon_select_all {background-position: -1040px 0; width: 16px; height: 16px}
.NewIcon_settings2 {background-position: -1056px 0; width: 16px; height: 16px}
.NewIcon_time {background-position: -1072px 0; width: 16px; height: 16px}
.NewIcon_undo1 {background-position: -1088px 0; width: 16px; height: 16px}
.NewIcon_undo2 {background-position: -1104px 0; width: 16px; height: 16px}
.NewIcon_label {background-position: -1120px 0; width: 16px; height: 16px}
.NewIcon_ordered_list {background-position: -1136px 0; width: 16px; height: 16px}
.NewIcon_research {background-position: -1152px 0; width: 16px; height: 16px}
.NewIcon_text_align_center {background-position: -1168px 0; width: 16px; height: 16px}
.NewIcon_text_align_left {background-position: -1184px 0; width: 16px; height: 16px}
.NewIcon_text_align_right {background-position: -1200px 0; width: 16px; height: 16px}
.NewIcon_text_indent {background-position: -1216px 0; width: 16px; height: 16px}
.NewIcon_text_justify {background-position: -1232px 0; width: 16px; height: 16px}
.NewIcon_text_outdent {background-position: -1248px 0; width: 16px; height: 16px}
.NewIcon_unordered_list {background-position: -1264px 0; width: 16px; height: 16px}
.NewIcon_administrator1 {background-position: -1280px 0; width: 16px; height: 16px}
.NewIcon_anchor {background-position: -1296px 0; width: 16px; height: 16px}
.NewIcon_anonymous {background-position: -1312px 0; width: 16px; height: 16px}
.NewIcon_business {background-position: -1328px 0; width: 16px; height: 16px}
.NewIcon_finances {background-position: -1344px 0; width: 16px; height: 16px}
.NewIcon_law {background-position: -1360px 0; width: 16px; height: 16px}
.NewIcon_pay {background-position: -1376px 0; width: 16px; height: 16px}
.NewIcon_photo {background-position: -1392px 0; width: 16px; height: 16px}
.NewIcon_security {background-position: -1408px 0; width: 16px; height: 16px}
.NewIcon_turn-off {background-position: -1424px 0; width: 16px; height: 16px}
.NewIcon_turn-on {background-position: -1440px 0; width: 16px; height: 16px}
.NewIcon_user1 {background-position: -1456px 0; width: 16px; height: 16px}
.NewIcon_user2 {background-position: -1472px 0; width: 16px; height: 16px}
.NewIcon_user3 {background-position: -1488px 0; width: 16px; height: 16px}
.NewIcon_video {background-position: -1504px 0; width: 16px; height: 16px}
.NewIcon_administrator2 {background-position: -1520px 0; width: 16px; height: 16px}
.NewIcon_application {background-position: -1536px 0; width: 16px; height: 16px}
.NewIcon_file_manager {background-position: -1552px 0; width: 16px; height: 16px}
.NewIcon_music {background-position: -1568px 0; width: 16px; height: 16px}
.NewIcon_notepad {background-position: -1584px 0; width: 16px; height: 16px}
.NewIcon_registration1 {background-position: -1600px 0; width: 16px; height: 16px}
.NewIcon_tile_windows_horizontally {background-position: -1616px 0; width: 16px; height: 16px}
.NewIcon_tile_windows_vertically {background-position: -1632px 0; width: 16px; height: 16px}
.NewIcon_trash {background-position: -1648px 0; width: 16px; height: 16px}
.NewIcon_user4 {background-position: -1664px 0; width: 16px; height: 16px}
.NewIcon_user5 {background-position: -1680px 0; width: 16px; height: 16px}
.NewIcon_user6 {background-position: -1696px 0; width: 16px; height: 16px}
.NewIcon_web {background-position: -1712px 0; width: 16px; height: 16px}
.NewIcon_check-in {background-position: -1728px 0; width: 16px; height: 16px}
.NewIcon_check-out {background-position: -1744px 0; width: 16px; height: 16px}
.NewIcon_flag1 {background-position: -1760px 0; width: 16px; height: 16px}
.NewIcon_flag2 {background-position: -1776px 0; width: 16px; height: 16px}
.NewIcon_flag3 {background-position: -1792px 0; width: 16px; height: 16px}
.NewIcon_flag4 {background-position: -1808px 0; width: 16px; height: 16px}
.NewIcon_level_down {background-position: -1824px 0; width: 16px; height: 16px}
.NewIcon_level_up {background-position: -1840px 0; width: 16px; height: 16px}
.NewIcon_relationships {background-position: -1856px 0; width: 16px; height: 16px}
.NewIcon_shopping_cart {background-position: -1872px 0; width: 16px; height: 16px}
.NewIcon_sort_by_date {background-position: -1888px 0; width: 16px; height: 16px}
.NewIcon_sort_by_name {background-position: -1904px 0; width: 16px; height: 16px}
.NewIcon_sort_by_quantity {background-position: -1920px 0; width: 16px; height: 16px}
.NewIcon_user8 {background-position: -1936px 0; width: 16px; height: 16px}
.NewIcon_user9 {background-position: -1952px 0; width: 16px; height: 16px}
.NewIcon_administrator3 {background-position: -1968px 0; width: 16px; height: 16px}
.NewIcon_backup {background-position: -1984px 0; width: 16px; height: 16px}
.NewIcon_record {background-position: -2000px 0; width: 16px; height: 16px}
.NewIcon_record_copy {background-position: -2016px 0; width: 16px; height: 16px}
.NewIcon_registration2 {background-position: -2032px 0; width: 16px; height: 16px}
.NewIcon_report1 {background-position: -2048px 0; width: 16px; height: 16px}
.NewIcon_report2 {background-position: -2064px 0; width: 16px; height: 16px}
.NewIcon_report3 {background-position: -2080px 0; width: 16px; height: 16px}
.NewIcon_restore {background-position: -2096px 0; width: 16px; height: 16px}
.NewIcon_script {background-position: -2112px 0; width: 16px; height: 16px}
.NewIcon_user7 {background-position: -2128px 0; width: 16px; height: 16px}
.NewIcon_connect1 {background-position: -2144px 0; width: 16px; height: 16px}
.NewIcon_connect2 {background-position: -2160px 0; width: 16px; height: 16px}
.NewIcon_connect3 {background-position: -2176px 0; width: 16px; height: 16px}
.NewIcon_database_export {background-position: -2192px 0; width: 16px; height: 16px}
.NewIcon_database_import {background-position: -2208px 0; width: 16px; height: 16px}
.NewIcon_disconnect1 {background-position: -2224px 0; width: 16px; height: 16px}
.NewIcon_disconnect2 {background-position: -2240px 0; width: 16px; height: 16px}
.NewIcon_first {background-position: -2256px 0; width: 16px; height: 16px}
.NewIcon_firstl {background-position: -2256px 0; width: 16px; height: 16px; transform: rotate(-90deg);}
.NewIcon_last {background-position: -2272px 0; width: 16px; height: 16px}
.NewIcon_lastr {background-position: -2272px 0; width: 16px; height: 16px; transform: rotate(-90deg);}
.NewIcon_search_again {background-position: -2288px 0; width: 16px; height: 16px}
.NewIcon_web-server {background-position: -2304px 0; width: 16px; height: 16px}
.NewIcon_bold {background-position: -2320px 0; width: 16px; height: 16px}
.NewIcon_database_field {background-position: -2336px 0; width: 16px; height: 16px}
.NewIcon_database_form {background-position: -2352px 0; width: 16px; height: 16px}
.NewIcon_database_table {background-position: -2368px 0; width: 16px; height: 16px}
.NewIcon_italic {background-position: -2384px 0; width: 16px; height: 16px}
.NewIcon_server1 {background-position: -2400px 0; width: 16px; height: 16px}
.NewIcon_server2 {background-position: -2416px 0; width: 16px; height: 16px}
.NewIcon_servers {background-position: -2432px 0; width: 16px; height: 16px}
.NewIcon_table_align_columns {background-position: -2448px 0; width: 16px; height: 16px}
.NewIcon_table_align_rows {background-position: -2464px 0; width: 16px; height: 16px}
.NewIcon_table_auto_format {background-position: -2480px 0; width: 16px; height: 16px}
.NewIcon_table_borders {background-position: -2496px 0; width: 16px; height: 16px}
.NewIcon_table_cell_alignment {background-position: -2512px 0; width: 16px; height: 16px}
.NewIcon_table_merge_cells {background-position: -2528px 0; width: 16px; height: 16px}
.NewIcon_table_split_cells {background-position: -2544px 0; width: 16px; height: 16px}
.NewIcon_underline {background-position: -2560px 0; width: 16px; height: 16px}
.NewIcon_eject {background-position: -2576px 0; width: 16px; height: 16px}
.NewIcon_fast_forward {background-position: -2592px 0; width: 16px; height: 16px}
.NewIcon_pause {background-position: -2608px 0; width: 16px; height: 16px}
.NewIcon_play {background-position: -2624px 0; width: 16px; height: 16px}
.NewIcon_reverse {background-position: -2640px 0; width: 16px; height: 16px}
.NewIcon_skip_backward {background-position: -2656px 0; width: 16px; height: 16px}
.NewIcon_skip_forward {background-position: -2672px 0; width: 16px; height: 16px}
.NewIcon_stop {background-position: -2688px 0; width: 16px; height: 16px}
.NewIcon_strike {background-position: -2704px 0; width: 16px; height: 16px}
.NewIcon_attention1 {background-position: -2720px 0; width: 16px; height: 16px}
.NewIcon_attention2 {background-position: -2736px 0; width: 16px; height: 16px}
.NewIcon_attention3 {background-position: -2752px 0; width: 16px; height: 16px}
.NewIcon_file_add {background-position: -2768px 0; width: 16px; height: 16px}
.NewIcon_access_add {background-position: -2784px 0; width: 16px; height: 16px}
.NewIcon_computer1_add {background-position: -2800px 0; width: 16px; height: 16px}
.NewIcon_computer2_add {background-position: -2816px 0; width: 16px; height: 16px}
.NewIcon_contact_add {background-position: -2832px 0; width: 16px; height: 16px}
.NewIcon_filter_add {background-position: -2848px 0; width: 16px; height: 16px}
.NewIcon_folder_add {background-position: -2864px 0; width: 16px; height: 16px}
.NewIcon_mail1_add {background-position: -2880px 0; width: 16px; height: 16px}
.NewIcon_mail2_add {background-position: -2896px 0; width: 16px; height: 16px}
.NewIcon_comment1_add {background-position: -2912px 0; width: 16px; height: 16px}
.NewIcon_comment2_add {background-position: -2928px 0; width: 16px; height: 16px}
.NewIcon_comment3_add {background-position: -2944px 0; width: 16px; height: 16px}
.NewIcon_data_add {background-position: -2960px 0; width: 16px; height: 16px}
.NewIcon_database_add {background-position: -2976px 0; width: 16px; height: 16px}
.NewIcon_support1_add {background-position: -2992px 0; width: 16px; height: 16px}
.NewIcon_support2_add {background-position: -3008px 0; width: 16px; height: 16px}
.NewIcon_table_add {background-position: -3024px 0; width: 16px; height: 16px}
.NewIcon_image_add {background-position: -3040px 0; width: 16px; height: 16px}
.NewIcon_label_add {background-position: -3056px 0; width: 16px; height: 16px}
.NewIcon_link_add {background-position: -3072px 0; width: 16px; height: 16px}
.NewIcon_anchor_add {background-position: -3088px 0; width: 16px; height: 16px}
.NewIcon_business_add {background-position: -3104px 0; width: 16px; height: 16px}
.NewIcon_finances_add {background-position: -3120px 0; width: 16px; height: 16px}
.NewIcon_law_add {background-position: -3136px 0; width: 16px; height: 16px}
.NewIcon_pay_add {background-position: -3152px 0; width: 16px; height: 16px}
.NewIcon_photo_add {background-position: -3168px 0; width: 16px; height: 16px}
.NewIcon_security_add {background-position: -3184px 0; width: 16px; height: 16px}
.NewIcon_video_add {background-position: -3200px 0; width: 16px; height: 16px}
.NewIcon_administrator1_add {background-position: -3216px 0; width: 16px; height: 16px}
.NewIcon_administrator2_add {background-position: -3232px 0; width: 16px; height: 16px}
.NewIcon_anonymous_add {background-position: -3248px 0; width: 16px; height: 16px}
.NewIcon_application_add {background-position: -3264px 0; width: 16px; height: 16px}
.NewIcon_file_manager_add {background-position: -3280px 0; width: 16px; height: 16px}
.NewIcon_music_add {background-position: -3296px 0; width: 16px; height: 16px}
.NewIcon_notepad_add {background-position: -3312px 0; width: 16px; height: 16px}
.NewIcon_registration1_add {background-position: -3328px 0; width: 16px; height: 16px}
.NewIcon_trash_add {background-position: -3344px 0; width: 16px; height: 16px}
.NewIcon_user1_add {background-position: -3360px 0; width: 16px; height: 16px}
.NewIcon_user2_add {background-position: -3376px 0; width: 16px; height: 16px}
.NewIcon_user3_add {background-position: -3392px 0; width: 16px; height: 16px}
.NewIcon_user4_add {background-position: -3408px 0; width: 16px; height: 16px}
.NewIcon_user5_add {background-position: -3424px 0; width: 16px; height: 16px}
.NewIcon_user6_add {background-position: -3440px 0; width: 16px; height: 16px}
.NewIcon_flag1_add {background-position: -3456px 0; width: 16px; height: 16px}
.NewIcon_flag2_add {background-position: -3472px 0; width: 16px; height: 16px}
.NewIcon_flag3_add {background-position: -3488px 0; width: 16px; height: 16px}
.NewIcon_flag4_add {background-position: -3504px 0; width: 16px; height: 16px}
.NewIcon_shopping_cart_add {background-position: -3520px 0; width: 16px; height: 16px}
.NewIcon_user8_add {background-position: -3536px 0; width: 16px; height: 16px}
.NewIcon_user9_add {background-position: -3552px 0; width: 16px; height: 16px}
.NewIcon_web_add {background-position: -3568px 0; width: 16px; height: 16px}
.NewIcon_administrator3_add {background-position: -3584px 0; width: 16px; height: 16px}
.NewIcon_backup_add {background-position: -3600px 0; width: 16px; height: 16px}
.NewIcon_record_add {background-position: -3616px 0; width: 16px; height: 16px}
.NewIcon_registration2_add {background-position: -3632px 0; width: 16px; height: 16px}
.NewIcon_report1_add {background-position: -3648px 0; width: 16px; height: 16px}
.NewIcon_report2_add {background-position: -3664px 0; width: 16px; height: 16px}
.NewIcon_report3_add {background-position: -3680px 0; width: 16px; height: 16px}
.NewIcon_script_add {background-position: -3696px 0; width: 16px; height: 16px}
.NewIcon_user7_add {background-position: -3712px 0; width: 16px; height: 16px}
.NewIcon_web-server_add {background-position: -3728px 0; width: 16px; height: 16px}
.NewIcon_database_form_add {background-position: -3744px 0; width: 16px; height: 16px}
.NewIcon_server1_add {background-position: -3760px 0; width: 16px; height: 16px}
.NewIcon_server2_add {background-position: -3776px 0; width: 16px; height: 16px}
.NewIcon_database_field_add {background-position: -3792px 0; width: 16px; height: 16px}
.NewIcon_database_table_add {background-position: -3808px 0; width: 16px; height: 16px}
.NewIcon_file_delete {background-position: -3824px 0; width: 16px; height: 16px}
.NewIcon_access_delete {background-position: -3840px 0; width: 16px; height: 16px}
.NewIcon_computer1_delete {background-position: -3856px 0; width: 16px; height: 16px}
.NewIcon_contact_delete {background-position: -3872px 0; width: 16px; height: 16px}
.NewIcon_folder_delete {background-position: -3888px 0; width: 16px; height: 16px}
.NewIcon_mail1_delete {background-position: -3904px 0; width: 16px; height: 16px}
.NewIcon_mail2_delete {background-position: -3920px 0; width: 16px; height: 16px}
.NewIcon_computer2_delete {background-position: -3936px 0; width: 16px; height: 16px}
.NewIcon_filter_delete {background-position: -3952px 0; width: 16px; height: 16px}
.NewIcon_sound_delete {background-position: -3968px 0; width: 16px; height: 16px}
.NewIcon_data_delete {background-position: -3984px 0; width: 16px; height: 16px}
.NewIcon_comment1_delete {background-position: -4000px 0; width: 16px; height: 16px}
.NewIcon_comment2_delete {background-position: -4016px 0; width: 16px; height: 16px}
.NewIcon_comment3_delete {background-position: -4032px 0; width: 16px; height: 16px}
.NewIcon_database_delete {background-position: -4048px 0; width: 16px; height: 16px}
.NewIcon_table_delete {background-position: -4064px 0; width: 16px; height: 16px}
.NewIcon_support1_delete {background-position: -4080px 0; width: 16px; height: 16px}
.NewIcon_support2_delete {background-position: -4096px 0; width: 16px; height: 16px}
.NewIcon_image_delete {background-position: -4112px 0; width: 16px; height: 16px}
.NewIcon_link_delete {background-position: -4128px 0; width: 16px; height: 16px}
.NewIcon_label_delete {background-position: -4144px 0; width: 16px; height: 16px}
.NewIcon_business_delete {background-position: -4160px 0; width: 16px; height: 16px}
.NewIcon_finances_delete {background-position: -4176px 0; width: 16px; height: 16px}
.NewIcon_law_delete {background-position: -4192px 0; width: 16px; height: 16px}
.NewIcon_security_delete {background-position: -4208px 0; width: 16px; height: 16px}
.NewIcon_administrator1_delete {background-position: -4224px 0; width: 16px; height: 16px}
.NewIcon_administrator2_delete {background-position: -4240px 0; width: 16px; height: 16px}
.NewIcon_anchor_delete {background-position: -4256px 0; width: 16px; height: 16px}
.NewIcon_anonymous_delete {background-position: -4272px 0; width: 16px; height: 16px}
.NewIcon_notepad_delete {background-position: -4288px 0; width: 16px; height: 16px}
.NewIcon_pay_delete {background-position: -4304px 0; width: 16px; height: 16px}
.NewIcon_photo_delete {background-position: -4320px 0; width: 16px; height: 16px}
.NewIcon_registration1_delete {background-position: -4336px 0; width: 16px; height: 16px}
.NewIcon_trash_delete {background-position: -4352px 0; width: 16px; height: 16px}
.NewIcon_user1_delete {background-position: -4368px 0; width: 16px; height: 16px}
.NewIcon_user2_delete {background-position: -4384px 0; width: 16px; height: 16px}
.NewIcon_user3_delete {background-position: -4400px 0; width: 16px; height: 16px}
.NewIcon_user4_delete {background-position: -4416px 0; width: 16px; height: 16px}
.NewIcon_user5_delete {background-position: -4432px 0; width: 16px; height: 16px}
.NewIcon_user6_delete {background-position: -4448px 0; width: 16px; height: 16px}
.NewIcon_video_delete {background-position: -4464px 0; width: 16px; height: 16px}
.NewIcon_application_delete {background-position: -4480px 0; width: 16px; height: 16px}
.NewIcon_file_manager_delete {background-position: -4496px 0; width: 16px; height: 16px}
.NewIcon_music_delete {background-position: -4512px 0; width: 16px; height: 16px}
.NewIcon_user8_delete {background-position: -4528px 0; width: 16px; height: 16px}
.NewIcon_web_delete {background-position: -4544px 0; width: 16px; height: 16px}
.NewIcon_flag1_delete {background-position: -4560px 0; width: 16px; height: 16px}
.NewIcon_flag2_delete {background-position: -4576px 0; width: 16px; height: 16px}
.NewIcon_flag3_delete {background-position: -4592px 0; width: 16px; height: 16px}
.NewIcon_flag4_delete {background-position: -4608px 0; width: 16px; height: 16px}
.NewIcon_shopping_cart_delete {background-position: -4624px 0; width: 16px; height: 16px}
.NewIcon_user7_delete {background-position: -4640px 0; width: 16px; height: 16px}
.NewIcon_user9_delete {background-position: -4656px 0; width: 16px; height: 16px}
.NewIcon_administrator3_delete {background-position: -4672px 0; width: 16px; height: 16px}
.NewIcon_backup_delete {background-position: -4688px 0; width: 16px; height: 16px}
.NewIcon_record_delete {background-position: -4704px 0; width: 16px; height: 16px}
.NewIcon_registration2_delete {background-position: -4720px 0; width: 16px; height: 16px}
.NewIcon_report1_delete {background-position: -4736px 0; width: 16px; height: 16px}
.NewIcon_report2_delete {background-position: -4752px 0; width: 16px; height: 16px}
.NewIcon_report3_delete {background-position: -4768px 0; width: 16px; height: 16px}
.NewIcon_script_delete {background-position: -4784px 0; width: 16px; height: 16px}
.NewIcon_web-server_delete {background-position: -4800px 0; width: 16px; height: 16px}
.NewIcon_connect3_delete {background-position: -4816px 0; width: 16px; height: 16px}
.NewIcon_database_field_delete {background-position: -4832px 0; width: 16px; height: 16px}
.NewIcon_database_form_delete {background-position: -4848px 0; width: 16px; height: 16px}
.NewIcon_database_table_delete {background-position: -4864px 0; width: 16px; height: 16px}
.NewIcon_server1_delete {background-position: -4880px 0; width: 16px; height: 16px}
.NewIcon_server2_delete {background-position: -4896px 0; width: 16px; height: 16px}
.NewIcon_video_play {background-position: -4912px 0; width: 16px; height: 16px}
.NewIcon_web-server_start {background-position: -4928px 0; width: 16px; height: 16px}
.NewIcon_backup_start {background-position: -4944px 0; width: 16px; height: 16px}
.NewIcon_computer1_start {background-position: -4960px 0; width: 16px; height: 16px}
.NewIcon_computer2_start {background-position: -4976px 0; width: 16px; height: 16px}
.NewIcon_data_play {background-position: -4992px 0; width: 16px; height: 16px}
.NewIcon_database_start {background-position: -5008px 0; width: 16px; height: 16px}
.NewIcon_script_start {background-position: -5024px 0; width: 16px; height: 16px}
.NewIcon_server1_start {background-position: -5040px 0; width: 16px; height: 16px}
.NewIcon_server2_start {background-position: -5056px 0; width: 16px; height: 16px}
.NewIcon_sound_play {background-position: -5072px 0; width: 16px; height: 16px}
.NewIcon_video_stop {background-position: -5088px 0; width: 16px; height: 16px}
.NewIcon_web-server_stop {background-position: -5104px 0; width: 16px; height: 16px}
.NewIcon_backup_stop {background-position: -5120px 0; width: 16px; height: 16px}
.NewIcon_computer1_stop {background-position: -5136px 0; width: 16px; height: 16px}
.NewIcon_computer2_stop {background-position: -5152px 0; width: 16px; height: 16px}
.NewIcon_data_stop {background-position: -5168px 0; width: 16px; height: 16px}
.NewIcon_database_stop {background-position: -5184px 0; width: 16px; height: 16px}
.NewIcon_music_stop {background-position: -5200px 0; width: 16px; height: 16px}
.NewIcon_script_stop {background-position: -5216px 0; width: 16px; height: 16px}
.NewIcon_server1_stop {background-position: -5232px 0; width: 16px; height: 16px}
.NewIcon_server2_stop {background-position: -5248px 0; width: 16px; height: 16px}
.NewIcon_sound_stop {background-position: -5264px 0; width: 16px; height: 16px}
.NewIcon_file_edit {background-position: -5280px 0; width: 16px; height: 16px}
.NewIcon_access_edit {background-position: -5296px 0; width: 16px; height: 16px}
.NewIcon_folder_close_edit {background-position: -5312px 0; width: 16px; height: 16px}
.NewIcon_mail1_edit {background-position: -5328px 0; width: 16px; height: 16px}
.NewIcon_mail2_edit {background-position: -5344px 0; width: 16px; height: 16px}
.NewIcon_computer1_edit {background-position: -5360px 0; width: 16px; height: 16px}
.NewIcon_computer2_edit {background-position: -5376px 0; width: 16px; height: 16px}
.NewIcon_contact_edit {background-position: -5392px 0; width: 16px; height: 16px}
.NewIcon_filter_edit {background-position: -5408px 0; width: 16px; height: 16px}
.NewIcon_comment1_edit {background-position: -5424px 0; width: 16px; height: 16px}
.NewIcon_data_edit {background-position: -5440px 0; width: 16px; height: 16px}
.NewIcon_comment2_edit {background-position: -5456px 0; width: 16px; height: 16px}
.NewIcon_comment3_edit {background-position: -5472px 0; width: 16px; height: 16px}
.NewIcon_database_edit {background-position: -5488px 0; width: 16px; height: 16px}
.NewIcon_support1_edit {background-position: -5504px 0; width: 16px; height: 16px}
.NewIcon_support2_edit {background-position: -5520px 0; width: 16px; height: 16px}
.NewIcon_table_edit {background-position: -5536px 0; width: 16px; height: 16px}
.NewIcon_image_edit {background-position: -5552px 0; width: 16px; height: 16px}
.NewIcon_link_edit {background-position: -5568px 0; width: 16px; height: 16px}
.NewIcon_label_edit {background-position: -5584px 0; width: 16px; height: 16px}
.NewIcon_administrator1_edit {background-position: -5600px 0; width: 16px; height: 16px}
.NewIcon_anchor_edit {background-position: -5616px 0; width: 16px; height: 16px}
.NewIcon_anonymous_edit {background-position: -5632px 0; width: 16px; height: 16px}
.NewIcon_business_edit {background-position: -5648px 0; width: 16px; height: 16px}
.NewIcon_finances_edit {background-position: -5664px 0; width: 16px; height: 16px}
.NewIcon_law_edit {background-position: -5680px 0; width: 16px; height: 16px}
.NewIcon_pay_edit {background-position: -5696px 0; width: 16px; height: 16px}
.NewIcon_photo_edit {background-position: -5712px 0; width: 16px; height: 16px}
.NewIcon_security_edit {background-position: -5728px 0; width: 16px; height: 16px}
.NewIcon_user1_edit {background-position: -5744px 0; width: 16px; height: 16px}
.NewIcon_user2_edit {background-position: -5760px 0; width: 16px; height: 16px}
.NewIcon_user3_edit {background-position: -5776px 0; width: 16px; height: 16px}
.NewIcon_user4_edit {background-position: -5792px 0; width: 16px; height: 16px}
.NewIcon_user5_edit {background-position: -5808px 0; width: 16px; height: 16px}
.NewIcon_video_edit {background-position: -5824px 0; width: 16px; height: 16px}
.NewIcon_administrator2_edit {background-position: -5840px 0; width: 16px; height: 16px}
.NewIcon_music_edit {background-position: -5856px 0; width: 16px; height: 16px}
.NewIcon_notepad_edit {background-position: -5872px 0; width: 16px; height: 16px}
.NewIcon_registration1_edit {background-position: -5888px 0; width: 16px; height: 16px}
.NewIcon_trash_edit {background-position: -5904px 0; width: 16px; height: 16px}
.NewIcon_user6_edit {background-position: -5920px 0; width: 16px; height: 16px}
.NewIcon_flag1_edit {background-position: -5936px 0; width: 16px; height: 16px}
.NewIcon_flag2_edit {background-position: -5952px 0; width: 16px; height: 16px}
.NewIcon_flag3_edit {background-position: -5968px 0; width: 16px; height: 16px}
.NewIcon_flag4_edit {background-position: -5984px 0; width: 16px; height: 16px}
.NewIcon_shopping_cart_edit {background-position: -6000px 0; width: 16px; height: 16px}
.NewIcon_user7_edit {background-position: -6016px 0; width: 16px; height: 16px}
.NewIcon_user8_edit {background-position: -6032px 0; width: 16px; height: 16px}
.NewIcon_user9_edit {background-position: -6048px 0; width: 16px; height: 16px}
.NewIcon_web_edit {background-position: -6064px 0; width: 16px; height: 16px}
.NewIcon_administrator3_edit {background-position: -6080px 0; width: 16px; height: 16px}
.NewIcon_backup_edit {background-position: -6096px 0; width: 16px; height: 16px}
.NewIcon_record_edit {background-position: -6112px 0; width: 16px; height: 16px}
.NewIcon_registration2_edit {background-position: -6128px 0; width: 16px; height: 16px}
.NewIcon_script_edit {background-position: -6144px 0; width: 16px; height: 16px}
.NewIcon_web-server_edit {background-position: -6160px 0; width: 16px; height: 16px}
.NewIcon_database_field_edit {background-position: -6176px 0; width: 16px; height: 16px}
.NewIcon_database_form_edit {background-position: -6192px 0; width: 16px; height: 16px}
.NewIcon_database_table_edit {background-position: -6208px 0; width: 16px; height: 16px}
.NewIcon_server1_edit {background-position: -6224px 0; width: 16px; height: 16px}
.NewIcon_server2_edit {background-position: -6240px 0; width: 16px; height: 16px}
.NewIcon_Sfondo {background-position: -6256px 0; width: 640px; height: 400px}
